Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, build-foxx, build-repo

build-core:
  variables:
    IMAGE_TAG: dlsw/datafed/core-
    GIT_STRATEGY: clone
  stage: build-unit-test-deploy
  tags:
  - ci-datafed-core
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - env
  - ./scripts/generate_datafed.sh
  - cat ./config/datafed.sh
  ...

build-foxx:
  variables:
    GIT_STRATEGY: clone
    DATAFED_DATABASE_PASSWORD: ${CI_DATAFED_DATABASE_PASSWORD}
    DATAFED_ZEROMQ_SYSTEM_SECRET: ${CI_DATAFED_ZEROMQ_SYSTEM_SECRET}
  stage: build-unit-test-deploy
  needs:
  - setup-vms
  tags:
  - ci-datafed-arango
  script:
  - arangod --version
  - sudo systemctl status arangodb3
  ...

build-repo:
  variables:
    IMAGE_TAG: dlsw/datafed/repo-
    GIT_STRATEGY: clone
  stage: build-unit-test-deploy
  tags:
  - ci-datafed-repo
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

updated changelog
  CHANGELOG.md
Due: none

fixed codacity warning
  scripts/copy_dependency.sh
Due: build-core, build-foxx, build-repo

swapped to using pre built dependencies for the gcs image
  repository/gcs.Dockerfile
  scripts/install_authz_dependencies.sh
Due: build-core, build-foxx, build-repo

copied headers to build executable
  repository/gcs.Dockerfile
Due: build-repo

removed old version of zmq
  repository/gcs.Dockerfile
Due: build-repo

added missing library directory env
  repository/gcs.Dockerfile
Due: build-repo

Added missing files
  repository/gcs.Dockerfile
Due: build-repo

fixed gcs build by adding missing dependencies
  dockerfiles/dependencies.Dockerfile
  repository/gcs.Dockerfile
  scripts/copy_dependency.sh
Due: build-core, build-foxx, build-repo

Add missing quotes
  scripts/admin_toggle_user_acccount.sh
Due: build-core, build-foxx, build-repo

initial commit of compose development
  compose.yaml
  core/Dockerfile
  scripts/build_containers.sh
  scripts/generate_env.sh
Due: build-core, build-foxx, build-repo

made docker and env file play nice together
  core/Dockerfile
  scripts/generate_env.sh
Due: build-core, build-foxx, build-repo

Update general.rst
  doc_source/source/admin/general.rst
Due: none

Add file for handling heartbeats
  common/proto/common/apis/SDMS_Services.proto
Due: none

First commits to upgrading protobuf"
  .gitmodules
  CMakeLists.txt
  common/proto/common/CMakeLists.txt
  common/tests/security/tcp_secure/CMakeLists.txt
  common/tests/unit/CMakeLists.txt
  core/server/CMakeLists.txt
  core/server/DatabaseAPI.cpp
  python/datafed_pkg/CMakeLists.txt
  python/datafed_pkg/datafed/CMakeLists.txt
  python/datafed_pkg/requirements.txt
  scripts/clear_db.sh
  scripts/copy_dependency.sh
  scripts/dependency_install_functions.sh
  scripts/dependency_versions.sh
  scripts/install_foxx.sh
  tests/end-to-end/README.md
  tests/end-to-end/setup.sh
Due: build-core, build-foxx, build-repo

Moved docker files into their respective folders
  core/docker/Dockerfile
  repository/docker/Dockerfile
  repository/docker/Dockerfile.gcs
  web/docker/Dockerfile
Due: none

First attempt at fixing infrastructure build status
  .gitlab-ci.yml
  gitlab_templates/build_ci_infrastructure.yml
  gitlab_templates/skip_ci_infrastructure.yml
Due: build-core, build-foxx, build-repo

Fix ci job name
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Fix ci project name
  gitlab_templates/build_ci_infrastructure.yml
Due: none

Address missing stages
  .gitlab-ci.yml
  gitlab_templates/build_ci_infrastructure.yml
  gitlab_templates/skip_ci_infrastructure.yml
Due: build-core, build-foxx, build-repo

Attempt to push to harbor registry
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Remove commented out cmake lines
  CMakeLists.txt
Due: build-foxx

Add missing label for runner
  gitlab_templates/skip_ci_infrastructure.yml
Due: none

Remove resource group constraint on skip job
  gitlab_templates/skip_ci_infrastructure.yml
Due: none

Fix dockerfiles
  compose/build_images_for_compose.sh
  docker/Dockerfile.base
  docker/Dockerfile.core
  docker/Dockerfile.datafed-centos7
  docker/Dockerfile.dependencies
  docker/Dockerfile.kickstart-centos7
  docker/Dockerfile.runtime
  docker/Dockerfile.web
  docker/README.md
Due: none

Address change in registry
  repository/docker/Dockerfile.gcs-authz-base.ubuntu
  repository/docker/Dockerfile.gcs-authz.ubuntu
  repository/docker/Dockerfile.repo.ubuntu
Due: none

Get missing stage to show up
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

addressing differences
  compose/build_images_for_compose.sh
  compose/compose.yml
  core/docker/Dockerfile
Due: none

Customize install function location
  scripts/dependency_install_functions.sh
  scripts/generate_datafed.sh
Due: build-core, build-foxx, build-repo

Make DRY and cleanup old comments
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Fix registry
  core/docker/Dockerfile.core.ubuntu
  repository/docker/Dockerfile.gcs-authz-base.ubuntu
  repository/docker/Dockerfile.gcs-authz.ubuntu
  repository/docker/Dockerfile.repo.ubuntu
  web/docker/Dockerfile.web.ubuntu
Due: none

Remove tabs
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Add missing needs statements
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Add tag to build ci infrastructure child job
  gitlab_templates/build_ci_infrastructure.yml
Due: none

Debugging downstream trigger
  gitlab_templates/build_ci_infrastructure.yml
Due: none

Fix typo
  .gitlab-ci.yml
  gitlab_templates/build_ci_infrastructure.yml
Due: build-core, build-foxx, build-repo

Remove resource constraint
  gitlab_templates/build_ci_infrastructure.yml
Due: none

Added Changelog comments
  CHANGELOG.md
Due: none

Add CHangelog comment
  CHANGELOG.md
Due: none

Add missing env files
  compose/compose.yml
  compose/generate_env.sh
Due: none

Add missing stage...
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Path conditions:
  build-core: any of: dockerfiles/*, scripts/*, common/*, core/*, .gitlab-ci.yml
  build-foxx: any of: CMakeLists.txt, scripts/*, core/database/*, .gitlab-ci.yml
  build-repo: any of: dockerfiles/*, scripts/*, common/*, repository/*, .gitlab-ci.yml
