Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, build-foxx, build-repo

Path conditions:
  build-core: any of: dockerfiles/*, scripts/*, common/*, core/*, .gitlab-ci.yml
  build-foxx: any of: CMakeLists.txt, scripts/*, core/database/*, .gitlab-ci.yml
  build-repo: any of: dockerfiles/*, scripts/*, common/*, repository/*, .gitlab-ci.yml

Add globus Python script for creating project and confidential client
  scripts/globus/globus_project.py
  scripts/globus/setup_globus.sh
Due: none

Cleanup globus project script
  scripts/globus/globus_project.py
Due: none

Refactor setup and teardown python scripts for GCS
  scripts/globus/__init__.py
  scripts/globus/globus_cleanup.py
  scripts/globus/initialize_globus_endpoint.py
  scripts/globus/utils.py
Due: none

changed default port of the webserver
  compose/generate_env.sh
  compose/nginx.conf
  scripts/generate_ws_config.sh
Due: build-core, build-foxx, build-repo

Add readme line to show how to run gcs container by itself
  compose/README.md
Due: none

Update GCS submodule build version
  .gitlab-ci.yml
  compose/build_repo_images_for_compose.sh
  scripts/dependency_versions.sh
Due: build-core, build-foxx, build-repo

Add readme comment
  compose/README.md
Due: none

Add volume mounts to gcs container
  compose/compose_repo.yml
Due: none

Add more configuration to generate_env.sh file
  compose/generate_env.sh
Due: none

Add globus cleanup files script
  compose/cleanup_globus_files.sh
Due: none

Add generate globus files script to help with automation
  compose/generate_globus_files.sh
Due: none

Auto generate unset_env.sh script
  compose/generate_env.sh
Due: none

Add comment so users know that it is auto generated
  compose/generate_env.sh
Due: none

Speed up build by adding more parallel processing to build
  repository/docker/Dockerfile
Due: none

Added missing dependencies to the image
  repository/docker/Dockerfile.gcs
Due: none

Reinstall globus-connect-server54
  repository/docker/Dockerfile.gcs-authz.ubuntu
Due: none

Worked to stabilize entrypoint_authz file for Compose GCS image build
  repository/docker/entrypoint_authz.sh
Due: none

Update Globus setup and teardown scripts
  scripts/globus/globus_cleanup.py
  scripts/globus/initialize_globus_endpoint.py
  scripts/globus/utils.py
Due: none

Add missing dependencies
  scripts/install_authz_dependencies.sh
  scripts/install_core_dependencies.sh
  scripts/install_repo_dependencies.sh
Due: build-core, build-foxx, build-repo

Add auto configuration for CORE_USER and REPO_USER and Globus control port for GCS
  scripts/generate_datafed.sh
Due: build-core, build-foxx, build-repo

Correct env variable for authz user
  scripts/generate_authz_config.sh
Due: build-core, build-foxx, build-repo

update to collection to allow deletes
  scripts/globus/clean_globus.sh
Due: none

Add setup_globus.sh configuration restrict paths
  scripts/globus/setup_globus.sh
Due: none

Add missing generate script for gsi-authz
  scripts/generate_gsi-authz_config.sh
Due: build-core, build-foxx, build-repo

Add gitignore
  .gitignore
Due: none

Fix variable
  compose/build_repo_images_for_compose.sh
Due: none

Small fix
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Add missing needs dependency
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Fix job dependencies
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Add option for building authz library without syslog
  CMakeLists.txt
Due: build-foxx

Update command for running Docker.gcs"
  compose/README.md
Due: none

Separate out the different dependencies to reduce build time
  docker/Dockerfile.dependencies
Due: none

Build in container without syslog
  repository/docker/Dockerfile.gcs
Due: none

Build without syslog and with corrected log path
  repository/docker/Dockerfile.gcs-authz.ubuntu
Due: none

Add compile definitions to pass define to cmake build for authz
  repository/gridftp/globus5/authz/source/CMakeLists.txt
Due: none

Swap out syslog with LOG Macro
  repository/gridftp/globus5/authz/source/libauthz.c
Due: none

Correct default log path
  scripts/generate_authz_config.sh
Due: build-core, build-foxx, build-repo

Add default log path
  repository/docker/Dockerfile.gcs
Due: none

Remove groups
  scripts/globus/globus_cleanup.py
Due: none

Add groupExists getGroupId and deleteGroup functions
  scripts/globus/utils.py
Due: none
