Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, build-foxx, build-repo

build-core:
  variables:
    IMAGE_TAG: dlsw/datafed/core-
    GIT_STRATEGY: clone
  stage: build-unit-test-deploy
  tags:
  - ci-datafed-core
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - env
  - ./scripts/generate_datafed.sh
  - cat ./config/datafed.sh
  ...

build-foxx:
  variables:
    GIT_STRATEGY: clone
    DATAFED_DATABASE_PASSWORD: ${CI_DATAFED_DATABASE_PASSWORD}
    DATAFED_ZEROMQ_SYSTEM_SECRET: ${CI_DATAFED_ZEROMQ_SYSTEM_SECRET}
  stage: build-unit-test-deploy
  needs:
  - setup-vms
  tags:
  - ci-datafed-arango
  script:
  - arangod --version
  - sudo systemctl status arangodb3
  ...

build-repo:
  variables:
    IMAGE_TAG: dlsw/datafed/repo-
    GIT_STRATEGY: clone
  stage: build-unit-test-deploy
  tags:
  - ci-datafed-repo
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

remove needs dependency
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Attempting to add back in python client
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Add more configuration flexibility
  .gitlab-ci.yml
  scripts/clear_db.sh
  scripts/install_foxx.sh
  tests/end-to-end/setup.sh
Due: build-core, build-foxx, build-repo

Add customization of configuration during end to end testing
  .gitlab-ci.yml
  core/database/tests/test_foxx.sh
  scripts/clear_db.sh
  scripts/install_client_dependencies.sh
  scripts/install_foxx.sh
  tests/end-to-end/setup.sh
Due: build-core, build-foxx, build-repo

Add generalist runner tag
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Fix typo
  scripts/clear_db.sh
Due: build-core, build-foxx, build-repo

Try to decouple containers from env in ci, remove sudo from python install fix env var
  .gitlab-ci.yml
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-repo

Remove problematic file
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-repo

Add python requirements to install
  python/datafed_pkg/requirements.txt
  python/datafed_pkg/setup.py
  scripts/install_client_dependencies.sh
Due: build-core, build-foxx, build-repo

Turn off end-to-end testing for now
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Fix codacy complaints
  core/database/tests/test_foxx.sh
Due: none

Attempt to fix codacy issues
  scripts/clear_db.sh
  scripts/install_client_dependencies.sh
  scripts/install_foxx.sh
Due: build-core, build-foxx, build-repo

Remove allow failure flag
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

get Ci working
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Fix codacy issues
  core/database/tests/test_foxx.sh
Due: none

split up Dockerfile into multiple files
  build-base.Dockerfile
  core.Dockerfile
  deps.Dockerfile
  gcs.Dockerfile
  repo.Dockerfile
  runtime.Dockerfile
  ws.Dockerfile
Due: none

Address codacy concerns
  scripts/admin_toggle_user_acccount.sh
Due: build-core, build-foxx, build-repo

Address static code analysis issues
  python/datafed_pkg/datafed/CLI.py
  python/datafed_pkg/datafed/CommandLib.py
Due: none

fix build images script
  compose/build_images_for_compose.sh
Due: none

Fix formatting of logging output
  web/datafed-ws.js
Due: none

set allowed faults to 30
  core/server/GlobusAPI.cpp
Due: none

Need to throw an error when file does not exist
  repository/server/RequestWorker.cpp
Due: none

Should throw and error
  repository/server/RequestWorker.cpp
Due: none

finished splitting dockerfiles and updating CI
  .gitlab-ci.yml
  build-base.Dockerfile
  dockerfiles/Dockerfile
  dockerfiles/core.Dockerfile
  dockerfiles/dependencies.Dockerfile
  dockerfiles/gcs.Dockerfile
  dockerfiles/repo.Dockerfile
  dockerfiles/runtime.Dockerfile
  dockerfiles/ws.Dockerfile
  scripts/dependency_versions.sh
  scripts/install_dependencies.sh
  scripts/save_build_args.sh
Due: build-core, build-foxx, build-repo

changed files to be owned by the root group for openshift
  dockerfiles/core.Dockerfile
  dockerfiles/dependencies.Dockerfile
  dockerfiles/gcs.Dockerfile
  dockerfiles/repo.Dockerfile
  dockerfiles/runtime.Dockerfile
  dockerfiles/ws.Dockerfile
Due: build-core, build-repo

updated gitlab ci config
  .gitlab-ci.yml
  dockerfiles/core.Dockerfile
  dockerfiles/dependencies.Dockerfile
  dockerfiles/gcs.Dockerfile
  scripts/dependency_versions.sh
Due: build-core, build-foxx, build-repo

added unified install scripts
  scripts/install_authz_dependencies.sh
  scripts/install_core_dependencies.sh
  scripts/install_dependencies.sh
  scripts/install_repo_dependencies.sh
  scripts/install_ws_dependencies.sh
Due: build-core, build-foxx, build-repo

applied suggested changes from PR
  .gitlab-ci.yml
  dockerfiles/Dockerfile
  dockerfiles/core.Dockerfile
  dockerfiles/dependencies.Dockerfile
  dockerfiles/gcs.Dockerfile
  dockerfiles/repo.Dockerfile
  dockerfiles/runtime.Dockerfile
  dockerfiles/ws.Dockerfile
  scripts/copy_dependency.sh
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-repo

removed script
  scripts/save_build_args.sh
Due: build-core, build-foxx, build-repo

fixed incorrect flag
  scripts/install_dependencies.sh
Due: build-core, build-foxx, build-repo

applied suggested changes from #916
  dockerfiles/core.Dockerfile
  dockerfiles/gcs.Dockerfile
  dockerfiles/ws.Dockerfile
  scripts/dependency_install_functions.sh
  scripts/install_authz_dependencies.sh
  scripts/install_core_dependencies.sh
  scripts/install_dependencies.sh
  scripts/install_repo_dependencies.sh
  scripts/install_ws_dependencies.sh
Due: build-core, build-foxx, build-repo

moved dockerfiles to relevant directories
  core/Dockerfile
  repository/Dockerfile
  repository/gcs.Dockerfile
  web/Dockerfile
Due: build-core, build-repo

Add vim swap files to gitignore
  .gitignore
Due: none

applied more suggested changes from #916
  dockerfiles/core.Dockerfile
  dockerfiles/gcs.Dockerfile
  dockerfiles/repo.Dockerfile
  dockerfiles/ws.Dockerfile
  scripts/install_authz_dependencies.sh
  scripts/install_core_dependencies.sh
  scripts/install_dependencies.sh
  scripts/install_repo_dependencies.sh
  scripts/install_ws_dependencies.sh
Due: build-core, build-foxx, build-repo

added comment to all install scripts
  scripts/install_authz_dependencies.sh
  scripts/install_core_dependencies.sh
  scripts/install_repo_dependencies.sh
  scripts/install_ws_dependencies.sh
Due: build-core, build-foxx, build-repo

Add changelog comment
  CHANGELOG.md
Due: none

Add changelog comment and update web version to patch
  CHANGELOG.md
  cmake/Version.cmake
Due: none

Address codacy concern
  scripts/admin_toggle_user_acccount.sh
Due: build-core, build-foxx, build-repo

fixed building issues
  dockerfiles/dependencies.Dockerfile
  repository/gcs.Dockerfile
  scripts/dependency_install_functions.sh
  scripts/install_authz_dependencies.sh
  scripts/install_core_dependencies.sh
  scripts/install_repo_dependencies.sh
  scripts/install_ws_dependencies.sh
Due: build-core, build-foxx, build-repo

Path conditions:
  build-core: any of: dockerfiles/*, scripts/*, common/*, core/*, .gitlab-ci.yml
  build-foxx: any of: CMakeLists.txt, scripts/*, core/database/*, .gitlab-ci.yml
  build-repo: any of: dockerfiles/*, scripts/*, common/*, repository/*, .gitlab-ci.yml
