Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, build-foxx, build-repo

build-core:
  variables:
    IMAGE_TAG: dlsw/datafed/core-
    GIT_STRATEGY: clone
  stage: build-unit-test-deploy
  tags:
  - ci-datafed-core
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - env
  - ./scripts/generate_datafed.sh
  - cat ./config/datafed.sh
  ...

build-foxx:
  variables:
    GIT_STRATEGY: clone
  stage: build-unit-test-deploy
  needs:
  - setup-vms
  tags:
  - ci-datafed-arango
  script:
  - arangod --version
  - sudo systemctl status arangodb3
  - ./scripts/generate_datafed.sh
  - env
  - cat ./config/datafed.sh
  ...

build-repo:
  variables:
    IMAGE_TAG: dlsw/datafed/repo-
    GIT_STRATEGY: clone
  stage: build-unit-test-deploy
  tags:
  - ci-datafed-repo
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

Create workflow action for deploying docs
  .github/workflows/build-docs.yml
Due: none

cpp-py-formatter
  common/source/SocketOptions.cpp
  common/source/communicators/ZeroMQCommunicator.cpp
  core/server/ClientWorker.cpp
  core/server/CoreServer.cpp
  core/server/TaskMgr.cpp
  core/server/TaskMgr.hpp
  core/server/TaskWorker.cpp
  doc_source/source/conf.py
  facility/client/cli/main.cpp
  facility/server/CentralDatabaseClient.hpp
  python/datafed_pkg/datafed/Connection.py
  python/datafed_pkg/datafed/MessageLib.py
  python/datafed_pkg/test/Test_EndToEnd.py
  repository/gridftp/globus5/authz/source/AuthzWorker.cpp
  repository/gridftp/globus5/authz/source/libauthz.c
  repository/server/RequestWorker.cpp
Due: none

Fix typo in GitHub action
  .github/workflows/build-docs.yml
Due: none

omit installation of cmake assume it is latest in github aciton
  .github/workflows/build-docs.yml
Due: none

Add sudo and config file
  .github/workflows/build-docs.yml
Due: none

Remove accidental installtion of extra dependencies
  .github/workflows/build-docs.yml
Due: none

BUILD python client when building documentation
  .github/workflows/build-docs.yml
  CMakeLists.txt
Due: build-foxx

Include protobuf, needed for PYTHON client
  CMakeLists.txt
Due: build-foxx

Upgrade test to catch an exception when invalid url is provided
  common/tests/unit/test_SocketOptions.cpp
Due: none

Install protocal buffers as part doc build
  scripts/install_docs_dependencies.sh
Due: build-core, build-foxx, build-repo

Adding missing dependencies
  .github/workflows/build-docs.yml
Due: none

Pin version of protocol buffers
  python/datafed_pkg/setup.py
Due: none

Remove unused variable
  tests/end-to-end/test_api_record.py
Due: none

Add helper admin scripts
  .gitignore
  scripts/generate_certificate_refresh_script.sh
  scripts/generate_datafed.sh
  scripts/generate_datafed_backup_script.sh
Due: build-core, build-foxx, build-repo

Fix typo and add email notification to cert update
  scripts/generate_certificate_refresh_script.sh
  scripts/generate_datafed_backup_script.sh
Due: build-core, build-foxx, build-repo

cpp-py-formatter
  common/tests/unit/test_SocketOptions.cpp
Due: none

Address static code analyzer
  scripts/generate_certificate_refresh_script.sh
  scripts/generate_datafed_backup_script.sh
Due: build-core, build-foxx, build-repo

Added backup and cert refresh files
  CHANGELOG.md
  scripts/generate_certificate_refresh_script.sh
  scripts/generate_datafed_backup_script.sh
Due: build-core, build-foxx, build-repo

Add template
  .github/pull_request_template.md
Due: none

Add pr tempate
  CHANGELOG.md
Due: none

Added another line to template for labels
  .github/pull_request_template.md
Due: none

Add Codacy badge
  README.md
Due: none

Applied black formatting
  python/datafed_pkg/datafed/CLI.py
  python/datafed_pkg/datafed/CommandLib.py
  python/datafed_pkg/datafed/Config.py
  python/datafed_pkg/datafed/Connection.py
  python/datafed_pkg/datafed/MessageLib.py
  python/datafed_pkg/test/Test_EndToEnd.py
  tests/end-to-end/test_api_alloc.py
  tests/end-to-end/test_api_collection.py
  tests/end-to-end/test_api_context.py
  tests/end-to-end/test_api_endpoint.py
  tests/end-to-end/test_api_repo.py
Due: none

Comment out globus1 because that is not being used anymore
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Fix install scripts - they are needed by the CI
  scripts/install_core_dependencies.sh
  scripts/install_repo_dependencies.sh
  scripts/install_ws_dependencies.sh
Due: build-core, build-foxx, build-repo

Remove nonexistent fail word
  tests/end-to-end/setUp.py
Due: none

Ran aggressive autopep8
  tests/end-to-end/setUp.py
  tests/end-to-end/test_api_alloc.py
  tests/end-to-end/test_api_collection.py
  tests/end-to-end/test_api_context.py
  tests/end-to-end/test_api_endpoint.py
  tests/end-to-end/test_api_record.py
  tests/end-to-end/test_api_repo.py
  tests/end-to-end/test_api_user_login.py
Due: none

Ran formatter on remaining python files
  python/datafed_pkg/datafed/CLI.py
  python/datafed_pkg/datafed/CommandLib.py
  python/datafed_pkg/datafed/Config.py
  python/datafed_pkg/datafed/Connection.py
  python/datafed_pkg/datafed/MessageLib.py
  python/datafed_pkg/make_ver.py
  python/datafed_pkg/setup.py
  python/datafed_pkg/test/Test_EndToEnd.py
  python/datafed_pkg/test/Test_ObjectReturn.py
  python/datafed_pkg/test/data_gen.py
  python/pyproto_add_msg_idx.py
Due: none

cpp-py-formatter
  python/datafed_pkg/datafed/CLI.py
  python/datafed_pkg/datafed/CommandLib.py
  python/datafed_pkg/datafed/Config.py
  python/datafed_pkg/datafed/Connection.py
  python/datafed_pkg/datafed/MessageLib.py
  python/datafed_pkg/test/Test_EndToEnd.py
  python/datafed_pkg/test/Test_ObjectReturn.py
  python/datafed_pkg/test/data_gen.py
  tests/end-to-end/setUp.py
  tests/end-to-end/test_api_alloc.py
  tests/end-to-end/test_api_collection.py
  tests/end-to-end/test_api_endpoint.py
  tests/end-to-end/test_api_repo.py
Due: none

Added support for Google Analytics
  scripts/generate_datafed.sh
  scripts/generate_ws_config.sh
  web/datafed-ws.js
  web/views/head.ect
Due: build-core, build-foxx, build-repo

Fix path
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Add missing variable
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Increase max line length to 100 chars
  .github/workflows/format-check.yml
Due: none

Fix imports
  python/datafed_pkg/datafed/CLI.py
Due: none

Fix ci chmod not allowed
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Cleanup codacy errors
  tests/end-to-end/setUp.py
  tests/end-to-end/test_api_alloc.py
  tests/end-to-end/test_api_context.py
  tests/end-to-end/test_api_endpoint.py
  tests/end-to-end/test_api_record.py
  tests/end-to-end/test_api_repo.py
  tests/end-to-end/test_api_user_login.py
Due: none

Add git strategy
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Attempt to fix long line formatting in python CLI
  python/datafed_pkg/datafed/CLI.py
Due: none

Fix formatting in CommandLib
  python/datafed_pkg/datafed/CommandLib.py
Due: none

Path conditions:
  build-core: any of: dockerfiles/*, scripts/*, common/*, core/*, .gitlab-ci.yml
  build-foxx: any of: CMakeLists.txt, scripts/*, core/database/*, .gitlab-ci.yml
  build-repo: any of: dockerfiles/*, scripts/*, common/*, repository/*, .gitlab-ci.yml
