Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, build-foxx, build-repo

build-core:
  variables:
    IMAGE_TAG: dlsw/datafed/core-
    GIT_STRATEGY: clone
  stage: build-unit-test-deploy
  tags:
  - ci-datafed-core
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - env
  - ./scripts/generate_datafed.sh
  - cat ./config/datafed.sh
  ...

build-foxx:
  variables:
    GIT_STRATEGY: clone
    DATAFED_DATABASE_PASSWORD: ${CI_DATAFED_DATABASE_PASSWORD}
    DATAFED_ZEROMQ_SYSTEM_SECRET: ${CI_DATAFED_ZEROMQ_SYSTEM_SECRET}
  stage: build-unit-test-deploy
  needs:
  - setup-vms
  tags:
  - ci-datafed-arango
  script:
  - arangod --version
  - sudo systemctl status arangodb3
  ...

build-repo:
  variables:
    IMAGE_TAG: dlsw/datafed/repo-
    GIT_STRATEGY: clone
  stage: build-unit-test-deploy
  tags:
  - ci-datafed-repo
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

Trigger ws build if base build succeeds
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Run job if previous job exists
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Trying to fix
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Fix inconsistencies in datafed dependencies install path
  core/docker/Dockerfile.core.ubuntu
  repository/docker/Dockerfile.gcs-authz.ubuntu
  repository/docker/Dockerfile.gcs-base.ubuntu
  repository/docker/Dockerfile.repo.ubuntu
Due: none

Attempt to fix artifact trigger
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Attempt to update rule
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

added zlib to custom built dependencies
  CMakeLists.txt
  cmake/CURL.cmake
  cmake/OpenSSL.cmake
  core/server/CMakeLists.txt
  core/server/tests/unit/CMakeLists.txt
  scripts/dependency_install_functions.sh
  scripts/dependency_versions.sh
  scripts/install_core_dependencies.sh
Due: build-core, build-foxx, build-repo

Added job rules to core repo gcs python_client containers
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

added missing cmake zlib file
  cmake/zlib.cmake
Due: none

fixed core build with custom dependencies
  cmake/OpenSSL.cmake
  common/CMakeLists.txt
  core/server/CMakeLists.txt
  core/server/tests/unit/CMakeLists.txt
  scripts/install_core_dependencies.sh
Due: build-core, build-foxx, build-repo

Standardize install scripts
  CMakeLists.txt
  core/server/CMakeLists.txt
  core/server/tests/unit/CMakeLists.txt
  docker/Dockerfile.dependencies
  scripts/dependency_install_functions.sh
  scripts/install_authz_dependencies.sh
  scripts/install_core_dependencies.sh
  scripts/install_dependencies.sh
  scripts/install_docs_dependencies.sh
  scripts/install_repo_dependencies.sh
  scripts/install_ws_dependencies.sh
Due: build-core, build-foxx, build-repo

Add missing zlib.cmake
  cmake/zlib.cmake
Due: none

Make file format consistent
  CMakeLists.txt
  cmake/Zlib.cmake
Due: build-foxx

Update Zlib and ZeroMQ cmake files
  cmake/ZeroMQ.cmake
  cmake/Zlib.cmake
Due: none

Cleanup outputs
  cmake/ZeroMQ.cmake
  cmake/Zlib.cmake
  cmake/zlib_version.cpp
Due: none

add more files to gitignore
  .gitignore
Due: none

Use DataFed specific variables and move BOOST find to cmake file
  CMakeLists.txt
Due: build-foxx

Improve CURL.cmake robustness
  cmake/CURL.cmake
Due: none

Put in branch for handling shared and static OpenSLL libraries
  cmake/OpenSSL.cmake
Due: none

Add additional functionality for building and testing zeromq
  cmake/ZeroMQ.cmake
Due: none

Add improved cmake code for finding zlib
  cmake/Zlib.cmake
Due: none

Add functionality for building common library for both static and shared libraries of zeromq
  common/CMakeLists.txt
Due: build-core, build-repo

Add ability to build datafed-protobuf library as both static and shared library
  common/proto/common/CMakeLists.txt
Due: none

Add ability to build both common and shared zeromq as part of secure unit tests
  common/tests/security/tcp_secure/CMakeLists.txt
Due: none

Add ability to build with shared and or static libraries to core server
  common/tests/unit/CMakeLists.txt
  core/server/CMakeLists.txt
Due: none

Added branch for building unit tests with static or shared library
  core/server/tests/unit/CMakeLists.txt
Due: none

Add ability to build authz with external shared or static libraries, authz itself must be shared
  repository/gridftp/globus5/authz/source/CMakeLists.txt
Due: none

Add ability to build repo server with shared or static libraries
  repository/server/CMakeLists.txt
Due: none

Build static and shared libraries
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-repo

Add boost cmake file and curl_version.cpp source file"
  cmake/Boost.cmake
  cmake/curl_version.cpp
Due: none

Update python client docker ci
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Build static protobuf first, otherwise static build is ignored.
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-repo

Update compose to build all containers
  compose/build_images_for_compose.sh
Due: none

cpp-py-formatter
  cmake/curl_version.cpp
  core/server/DatabaseAPI.cpp
Due: none

Add missing utils script
  python/docker/Dockerfile.python-client-base.ubuntu
Due: none

Debug docker file
  web/docker/Dockerfile.web-base.ubuntu
Due: none

Fix zmq install, shared and static libraries should be built at the same time
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-repo

Compile in parallel for make
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-repo

Add generate_datafed.sh
  python/docker/Dockerfile.python-client-base.ubuntu
Due: none

Remove old gcs base image
  repository/docker/Dockerfile.gcs-base.ubuntu
Due: none

Path conditions:
  build-core: any of: dockerfiles/*, scripts/*, common/*, core/*, .gitlab-ci.yml
  build-foxx: any of: CMakeLists.txt, scripts/*, core/database/*, .gitlab-ci.yml
  build-repo: any of: dockerfiles/*, scripts/*, common/*, repository/*, .gitlab-ci.yml
