Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, build-foxx, build-repo

build-core:
  variables:
    IMAGE_TAG: dlsw/datafed/core-
    GIT_STRATEGY: clone
  stage: build-unit-test-deploy
  tags:
  - ci-datafed-core
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - env
  - ./scripts/generate_datafed.sh
  - cat ./config/datafed.sh
  ...

build-foxx:
  variables:
    GIT_STRATEGY: clone
    DATAFED_DATABASE_PASSWORD: ${CI_DATAFED_DATABASE_PASSWORD}
    DATAFED_ZEROMQ_SYSTEM_SECRET: ${CI_DATAFED_ZEROMQ_SYSTEM_SECRET}
  stage: build-unit-test-deploy
  needs:
  - setup-vms
  tags:
  - ci-datafed-arango
  script:
  - arangod --version
  - sudo systemctl status arangodb3
  ...

build-repo:
  variables:
    IMAGE_TAG: dlsw/datafed/repo-
    GIT_STRATEGY: clone
  stage: build-unit-test-deploy
  tags:
  - ci-datafed-repo
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

Cleanup CMake in core/database remove message
  core/database/CMakeLists.txt
Due: build-foxx

Replace variable with zeromq target
  core/server/CMakeLists.txt
Due: none

Cleanup comments in cmake files in python repo
  python/datafed_pkg/CMakeLists.txt
  python/datafed_pkg/datafed/CMakeLists.txt
Due: none

Replace variables with zeromq targets
  repository/gridftp/globus5/authz/source/CMakeLists.txt
  repository/server/CMakeLists.txt
Due: none

Remove libzmq3-dev from apt-package installs
  scripts/install_authz_dependencies.sh
  scripts/install_core_dependencies.sh
  scripts/install_repo_dependencies.sh
Due: build-core, build-foxx, build-repo

Add zmqcpp version to version file
  scripts/dependency_versions.sh
Due: build-core, build-foxx, build-repo

Use link static libsodium to zeromq
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-repo

Add sodium version output and lib path for json schema dep
  CMakeLists.txt
  cmake/JSONSchema.cmake
  cmake/ZeroMQ.cmake
  cmake/sodium_version.cpp
Due: build-foxx

Include git repo as part of docker build so that we can clone external submodules"
  core/docker/Dockerfile.core-base.ubuntu
  repository/docker/Dockerfile.gcs-authz-base.ubuntu
  repository/docker/Dockerfile.repo-base.ubuntu
  web/docker/Dockerfile.web-base.ubuntu
Due: none

update docker files so that they use static libraries instead of shared libraries
  core/docker/Dockerfile
  docker/Dockerfile.dependencies
  repository/docker/Dockerfile
  repository/docker/Dockerfile.gcs
Due: none

Alter copy_dependency so that it can handle shared .a and .so libraries
  scripts/copy_dependency.sh
Due: build-core, build-foxx, build-repo

Adjust dependenc_install_function script so can be run with regular and root user
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-repo

move sudo_command init to earlier
  scripts/install_dependencies.sh
Due: build-core, build-foxx, build-repo

Add return 0 to sudo_command
  scripts/utils.sh
Due: build-core, build-foxx, build-repo

Make correction to how copy_dependency library script variables are handled
  scripts/copy_dependency.sh
Due: build-core, build-foxx, build-repo

Attempt to fix docker PATH usage with cmake
  core/docker/Dockerfile.core-base.ubuntu
  docker/Dockerfile.foxx
  repository/docker/Dockerfile.gcs-authz-base.ubuntu
  repository/docker/Dockerfile.repo-base.ubuntu
  web/docker/Dockerfile.web-base.ubuntu
Due: none

add libsodium to install_repo_dependencies
  scripts/install_repo_dependencies.sh
Due: build-core, build-foxx, build-repo

Fix docker compose
  CMakeLists.txt
  compose/build_images_for_compose.sh
  core/docker/Dockerfile
  repository/docker/Dockerfile
  repository/docker/Dockerfile.gcs
  web/docker/Dockerfile
Due: build-foxx

added openssl and curl local dependencies
  CMakeLists.txt
  cmake/CURL.cmake
  cmake/OpenSSL.cmake
  core/server/CMakeLists.txt
  scripts/dependency_install_functions.sh
  scripts/dependency_versions.sh
Due: build-core, build-foxx, build-repo

Update dependency install scripts to include openssl and libcurl
  scripts/dependency_install_functions.sh
  scripts/install_core_dependencies.sh
Due: build-core, build-foxx, build-repo

Refactored dependency install scripts to install to /external folder and remove .git from Docker build
  .gitignore
  docker/Dockerfile.dependencies
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-repo

Remove test from protobuf python
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-repo

Address too many arguments provided to cd command
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-repo

Remove comment
  docker/Dockerfile.dependencies
Due: none

Make arango install optional, also make default paths explicit
  core/docker/Dockerfile.core-base.ubuntu
  docker/Dockerfile.dependencies
  repository/docker/Dockerfile.gcs-authz-base.ubuntu
  repository/docker/Dockerfile.repo-base.ubuntu
  scripts/install_dependencies.sh
  web/docker/Dockerfile.web-base.ubuntu
Due: build-core, build-foxx, build-repo

tried implementing custom openssl in cmake build
  cmake/OpenSSL.cmake
  core/server/CMakeLists.txt
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-repo

Fix how CI is building, base images are not building correctly per branch
  .gitlab-ci.yml
  repository/docker/Dockerfile.gcs-authz-base.ubuntu
Due: build-core, build-foxx, build-repo

Add latest flag to base image
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Fix build-arg
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Adding latest tag
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Fix registry line and image name
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Put explicit paths to cmake
  core/docker/Dockerfile.core.ubuntu
  repository/docker/Dockerfile.gcs-authz.ubuntu
  repository/docker/Dockerfile.repo.ubuntu
  scripts/install_core_dependencies.sh
  web/docker/Dockerfile.web.ubuntu
Due: build-core, build-foxx, build-repo

Debug web install path
  web/docker/Dockerfile.web.ubuntu
Due: none

Update rules
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Address permissions of folders
  core/docker/Dockerfile.core.ubuntu
  repository/docker/Dockerfile.gcs-authz.ubuntu
  repository/docker/Dockerfile.repo.ubuntu
  web/docker/Dockerfile.web.ubuntu
Due: none

Fix web typo
  web/docker/Dockerfile.web-base.ubuntu
Due: none

Fix typos
  core/docker/Dockerfile.core.ubuntu
  repository/docker/Dockerfile.repo.ubuntu
Due: none

Update install path grab from config file
  CMakeLists.txt
Due: build-foxx

Fix install paths
  CMakeLists.txt
Due: build-foxx

Trigger CI if changes in main CMakeLists.txt file
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Path conditions:
  build-core: any of: dockerfiles/*, scripts/*, common/*, core/*, .gitlab-ci.yml
  build-foxx: any of: CMakeLists.txt, scripts/*, core/database/*, .gitlab-ci.yml
  build-repo: any of: dockerfiles/*, scripts/*, common/*, repository/*, .gitlab-ci.yml
