Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, build-foxx, build-repo

build-core:
  variables:
    IMAGE_TAG: dlsw/datafed/core-
    GIT_STRATEGY: clone
  stage: build-unit-test-deploy
  tags:
  - ci-datafed-core
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - env
  - ./scripts/generate_datafed.sh
  - cat ./config/datafed.sh
  ...

build-foxx:
  variables:
    GIT_STRATEGY: clone
    DATAFED_DATABASE_PASSWORD: ${CI_DATAFED_DATABASE_PASSWORD}
    DATAFED_ZEROMQ_SYSTEM_SECRET: ${CI_DATAFED_ZEROMQ_SYSTEM_SECRET}
  stage: build-unit-test-deploy
  needs:
  - setup-vms
  tags:
  - ci-datafed-arango
  script:
  - arangod --version
  - sudo systemctl status arangodb3
  ...

build-repo:
  variables:
    IMAGE_TAG: dlsw/datafed/repo-
    GIT_STRATEGY: clone
  stage: build-unit-test-deploy
  tags:
  - ci-datafed-repo
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

Add missing env variable
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Small fixes to python client
  .gitlab-ci.yml
  python/docker/Dockerfile.python-client.ubuntu
Due: build-core, build-foxx, build-repo

Improvements to markdown
  CHANGELOG.md
  compose/README.md
Due: none

Remove rules from Arango foxx install because need to build each time
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

add sudo
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

updated documentation to show how to setup the development environment
  doc_source/index.rst
  doc_source/source/dev/environment_setup.rst
Due: none

Add dependencies to /tmp folder
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

fixed formatting and added self signed certificate warning
  doc_source/source/dev/environment_setup.rst
Due: none

Hopefully fix files
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Fix web certificates
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Hopefully fix the problem
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Fix variable name with ci domain
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Fix CI web cert place in file
  .gitlab-ci.yml
  scripts/ci_setup_web_certs.sh
Due: build-core, build-foxx, build-repo

Update where touch files are created
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-repo

Switch to double ==
  scripts/container_run_test.sh
Due: build-core, build-foxx, build-repo

Fix missing variables
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-repo

Hopefully this solves the problem
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Solve issues with keys
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Hopefully fixing weird output.
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Fix web server by adding missing env variable
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Change https to tcp
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Fix core address
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Try to fix filesystem conflicts
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Add missing ports
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Testing if keys are being created from scratch or defaults are being used
  scripts/install_core.sh
Due: build-core, build-foxx, build-repo

Switch to using custom shared folder rather than tmp
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Switch key install folder to /datafed from /source
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Fix variable!
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Address merge conflict
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-repo

Fix missing version
  scripts/dependency_versions.sh
Due: build-core, build-foxx, build-repo

Modularized pulling in cmake dependencies
  cmake/JSON.cmake
  cmake/JSONSchema.cmake
  cmake/Protobuf.cmake
  cmake/Utils.cmake
  cmake/ZeroMQ.cmake
Due: none

Pulled out cruft and modularized cmake main file
  CMakeLists.txt
Due: build-foxx

Updated to using targets instead of variables
  common/CMakeLists.txt
Due: build-core, build-repo

Updated proto common CMakeList.txt to using targets intead of variables
  common/proto/common/CMakeLists.txt
Due: none

Remove old messages
  CMakeLists.txt
Due: build-foxx

Remove old message from JSON.cmake
  cmake/JSON.cmake
Due: none

Remove old message from ZeroMQ.cmake
  cmake/ZeroMQ.cmake
Due: none

Cleanup common/proto/common CMakefile remove comments
  common/proto/common/CMakeLists.txt
Due: none

Replace ZeroMQ package config targets with regular targets
  common/tests/security/tcp_secure/CMakeLists.txt
Due: none

Remove reference to ABSL as static protocol library is used
  common/tests/unit/CMakeLists.txt
Due: none

Path conditions:
  build-core: any of: dockerfiles/*, scripts/*, common/*, core/*, .gitlab-ci.yml
  build-foxx: any of: CMakeLists.txt, scripts/*, core/database/*, .gitlab-ci.yml
  build-repo: any of: dockerfiles/*, scripts/*, common/*, repository/*, .gitlab-ci.yml
