Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, build-foxx, build-repo

build-core:
  variables:
    IMAGE_TAG: dlsw/datafed/core-
    GIT_STRATEGY: clone
  stage: build-unit-test-deploy
  tags:
  - ci-datafed-core
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - env
  - ./scripts/generate_datafed.sh
  - cat ./config/datafed.sh
  ...

build-foxx:
  variables:
    GIT_STRATEGY: clone
  stage: build-unit-test-deploy
  needs:
  - setup-vms
  tags:
  - ci-datafed-arango
  script:
  - arangod --version
  - sudo systemctl status arangodb3
  - ./scripts/generate_datafed.sh
  - env
  - cat ./config/datafed.sh
  ...

build-repo:
  variables:
    IMAGE_TAG: dlsw/datafed/repo-
    GIT_STRATEGY: clone
  stage: build-unit-test-deploy
  tags:
  - ci-datafed-repo
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

cpp-py-formatter
  common/tests/unit/test_SocketOptions.cpp
Due: none

Attempt to fix bottleneck and resource contention
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Add Changelog comment
  CHANGELOG.md
Due: none

Fix missing dependency install
  scripts/install_core_dependencies.sh
  scripts/install_repo_dependencies.sh
Due: build-core, build-foxx, build-repo

added new dockerfile with support for core and repo server
  Dockerfile
Due: none

Increase max size of images stored on disk
  scripts/ci_purge_images.sh
Due: build-core, build-foxx, build-repo

Fix ci pipeline build folder
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Add changelog comment
  CHANGELOG.md
Due: none

Attempt to address problem with docker containers having the same name
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Correct number variable
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Use bash and not default sh
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Address static code analysis
  scripts/generate_certificate_refresh_script.sh
  scripts/generate_datafed_backup_script.sh
Due: build-core, build-foxx, build-repo

Fixing CHANGELOG
  CHANGELOG.md
Due: none

optimized web server build steps
  Dockerfile
Due: none

added gcs-authz container build
  Dockerfile
Due: none

Added draft script to toggle admin accounts on DataFed
  scripts/admin_toggle_user_acccount.sh
Due: build-core, build-foxx, build-repo

Add files to gitignore
  .gitignore
Due: none

started using unified dep install script
  Dockerfile
  scripts/install_dependencies.sh
Due: build-core, build-foxx, build-repo

optmized positioning of apt installs
  Dockerfile
  scripts/install_dependencies.sh
Due: build-core, build-foxx, build-repo

Add line item to CHANGELOG
  CHANGELOG.md
Due: none

Add retries as option when working with data transfers
  python/datafed_pkg/datafed/CLI.py
Due: none

Added retries attribute to protcol buffers, and to CommandLib dataPut and dataGet options
  common/proto/common/SDMS_Auth.proto
  python/datafed_pkg/datafed/CLI.py
  python/datafed_pkg/datafed/CommandLib.py
Due: none

retries parameter passed around and stored in database
  core/database/foxx/api/data_router.js
  core/database/foxx/api/tasks.js
  core/server/DatabaseAPI.cpp
  core/server/GlobusAPI.cpp
  core/server/GlobusAPI.hpp
  core/server/TaskWorker.cpp
Due: none

Changed ci config to new build system
  .gitlab-ci.yml
  Dockerfile
Due: build-core, build-foxx, build-repo

Update python version
  cmake/Version.cmake
Due: none

Add type converters
  common/source/type_converters/DoubleUint32T.cpp
  common/source/type_converters/DoubleUint32T.hpp
  common/source/type_converters/StringUint32T.cpp
  common/source/type_converters/StringUint32T.hpp
  common/source/type_converters/StringUint64T.cpp
  common/source/type_converters/StringUint64T.hpp
Due: none

Added type converter classes and implemented into GlobusAPI to deal with faults
  common/CMakeLists.txt
  common/include/common/CppTypes.hpp
  common/include/common/ITypeConverter.hpp
  common/include/common/OperatorTypes.hpp
  common/include/common/TypeConverterFactory.hpp
  common/source/CppTypes.cpp
  common/source/TypeConverterFactory.cpp
  common/tests/unit/CMakeLists.txt
  common/tests/unit/test_TypeConverter.cpp
  core/server/GlobusAPI.cpp
Due: build-core, build-repo

Fix to pointer notation when using converter
  core/server/GlobusAPI.cpp
Due: none

cpp-py-formatter
  common/include/common/CppTypes.hpp
  common/include/common/ITypeConverter.hpp
  common/include/common/TypeConverterFactory.hpp
  common/source/CppTypes.cpp
  common/source/TypeConverterFactory.cpp
  common/source/type_converters/DoubleUint32T.cpp
  common/source/type_converters/DoubleUint32T.hpp
  common/source/type_converters/StringUint32T.cpp
  common/source/type_converters/StringUint32T.hpp
  common/source/type_converters/StringUint64T.cpp
  common/source/type_converters/StringUint64T.hpp
  common/tests/unit/test_TypeConverter.cpp
  core/server/GlobusAPI.cpp
  core/server/GlobusAPI.hpp
  core/server/TaskWorker.cpp
  python/datafed_pkg/datafed/CLI.py
  python/datafed_pkg/datafed/CommandLib.py
Due: none

added script to copy dependencies with dynamic versions
  Dockerfile
  scripts/copy_dependency.sh
  scripts/dependency_versions.sh
Due: build-core, build-foxx, build-repo

Add doc build files to gitignore
  .gitignore
Due: none

Add config options to CLI decorator
  python/datafed_pkg/datafed/CLI.py
Due: none

Add first steps to updating python setup configuration
  python/datafed_pkg/datafed/CommandLib.py
Due: none

Add fix to admin script, fix the need for interactive prompt which would hang
  scripts/generate_certificate_refresh_script.sh
Due: build-core, build-foxx, build-repo

Add changelog flag
  CHANGELOG.md
Due: none

Add features
  python/datafed_pkg/datafed/CLI.py
  python/datafed_pkg/datafed/CommandLib.py
  python/datafed_pkg/datafed/Config.py
Due: none

Attempt to make CI pipeline smarter by only triggering infrastructure setup when it is not already running.
  .gitlab-ci.yml
  scripts/ci_pipeline_setup.sh
Due: build-core, build-foxx, build-repo

Remove only statement
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Path conditions:
  build-core: any of: dockerfiles/*, scripts/*, common/*, core/*, .gitlab-ci.yml
  build-foxx: any of: CMakeLists.txt, scripts/*, core/database/*, .gitlab-ci.yml
  build-repo: any of: dockerfiles/*, scripts/*, common/*, repository/*, .gitlab-ci.yml
