Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-core, build-foxx, build-repo

build-core:
  variables:
    IMAGE_TAG: dlsw/datafed/core-
    GIT_STRATEGY: clone
  stage: build-unit-test-deploy
  tags:
  - ci-datafed-core
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - env
  - ./scripts/generate_datafed.sh
  - cat ./config/datafed.sh
  ...

build-foxx:
  variables:
    GIT_STRATEGY: clone
  stage: build-unit-test-deploy
  needs:
  - setup-vms
  tags:
  - ci-datafed-arango
  script:
  - arangod --version
  - sudo systemctl status arangodb3
  - ./scripts/generate_datafed.sh
  - env
  - cat ./config/datafed.sh
  ...

build-repo:
  variables:
    IMAGE_TAG: dlsw/datafed/repo-
    GIT_STRATEGY: clone
  stage: build-unit-test-deploy
  tags:
  - ci-datafed-repo
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

Fix image name
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Made some changes to docker containers
  core/docker/Dockerfile.core-base.ubuntu
  core/docker/Dockerfile.core.ubuntu
  repository/docker/Dockerfile.gcs-authz-base.ubuntu
  repository/docker/Dockerfile.gcs-authz.ubuntu
  repository/docker/Dockerfile.gcs-base.ubuntu
  web/docker/Dockerfile.web.ubuntu
Due: none

Adding offical globus container image repo
  .gitmodules
Due: none

A few fixes to the gcs container
  .gitlab-ci.yml
  repository/docker/Dockerfile.gcs-authz-base.ubuntu
  repository/docker/Dockerfile.gcs-authz.ubuntu
  repository/docker/entrypoint_authz.sh
  scripts/dependency_install_functions.sh
  scripts/dependency_versions.sh
  scripts/generate_authz_config.sh
  scripts/generate_datafed.sh
  scripts/install_gcs.sh
Due: build-core, build-foxx, build-repo

Fix typo
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Fix another typo
  .gitlab-ci.yml
Due: build-core, build-foxx, build-repo

Fix issues with username and html injection
  web/datafed-ws.js
  web/package.json.in
  web/static/dlg_pick_user.js
  web/static/main.js
  web/static/panel_item_info.js
  web/static/settings.js
  web/views/main.ect
Due: none

Fix paging bug
  web/datafed-ws.js
  web/static/dlg_pick_user.js
  web/views/error.ect
  web/views/head.ect
  web/views/index.ect
  web/views/main.ect
Due: none

Use existing escapeHTML function
  web/static/dlg_pick_user.js
  web/static/main.js
  web/static/panel_item_info.js
  web/views/main.ect
Due: none

Refactor and fix of uninitialized offsets to help with collab and search display
  core/database/foxx/api/user_router.js
  web/datafed-ws.js
  web/static/dlg_pick_user.js
  web/static/dlg_set_acls.js
  web/views/docs.ect
  web/views/register.ect
Due: none

Fix against HTML injection on names
  config/datafed-core.cfg
  config/datafed-ws.cfg
  web/datafed-ws.js
  web/package.json
  web/static/dlg_pick_user.js
  web/static/main.js
  web/static/panel_item_info.js
  web/views/index.ect
  web/views/tab_browser.ect
Due: none

Update node modules
  web/package.json
Due: none

Only add nonce to page render calls
  web/datafed-ws.js
Due: none

Fix conversion to lower case so search works properly
  web/static/dlg_pick_user.js
Due: none

Apply fix variable misnamed, default was being used on accident
  scripts/admin_update_config_message.sh
Due: build-core, build-foxx, build-repo

Fix unit test, reset condition was not included in test so check was invalid
  core/server/tests/unit/test_AuthenticationManager.cpp
Due: none

Change to using /bin/bash instead of /bin/env bash
  cmake/Version.cmake
  scripts/generate_core_config.sh
  scripts/generate_core_service.sh
  scripts/generate_datafed.sh
  scripts/generate_ws_config.sh
  scripts/generate_ws_service.sh
  scripts/install_core_dependencies.sh
  scripts/install_ws.sh
  scripts/install_ws_dependencies.sh
Due: build-core, build-foxx, build-repo

Remove print statements from python client
  python/datafed_pkg/datafed/Connection.py
Due: none

Clean up comments
  core/database/foxx/api/support.js
  core/database/foxx/api/user_router.js
Due: none

Add correlation id to logging output
  python/datafed_pkg/datafed/Connection.py
Due: none

Update python client version
  cmake/Version.cmake
Due: none

Add my name as an author
  python/datafed_pkg/setup.py
Due: none

Attempt to fix versioning issue of datafed package
  python/datafed_pkg/datafed/MessageLib.py
Due: none

Attempting to fix python client hopefully for the last time
  cmake/Version.cmake
  python/datafed_pkg/datafed/CLI.py
  python/datafed_pkg/datafed/MessageLib.py
  python/datafed_pkg/setup.py
Due: none

Pin dependencies
  CMakeLists.txt
  common/CMakeLists.txt
  common/tests/security/tcp_secure/CMakeLists.txt
  common/tests/unit/CMakeLists.txt
  core/server/CMakeLists.txt
  repository/gridftp/globus5/authz/source/CMakeLists.txt
  repository/gridftp/globus5/authz/source/libauthz.c
  repository/server/CMakeLists.txt
  scripts/dependency_install_functions.sh
  scripts/dependency_versions.sh
  scripts/globus/setup_globus.sh
  scripts/install_core_dependencies.sh
  scripts/install_repo_dependencies.sh
Due: build-core, build-foxx, build-repo

Fix retries in task worker
  core/server/TaskWorker.cpp
Due: none

Fix bugs in singleton
  CMakeLists.txt
  core/database/foxx/api/tasks.js
  core/server/CMakeLists.txt
  core/server/ClientWorker.cpp
  core/server/CoreServer.cpp
  core/server/TaskMgr.cpp
  core/server/TaskMgr.hpp
  core/server/TaskWorker.cpp
Due: build-foxx

Make cmake version consistent
  common/CMakeLists.txt
  common/proto/common/CMakeLists.txt
  core/CMakeLists.txt
  core/database/CMakeLists.txt
  core/server/CMakeLists.txt
  doc_source/CMakeLists.txt
  facility/CMakeLists.txt
  facility/client/CMakeLists.txt
  facility/client/cli/CMakeLists.txt
  facility/client/lib/CMakeLists.txt
  facility/client/lib/test/CMakeLists.txt
  facility/server/CMakeLists.txt
  python/CMakeLists.txt
  python/datafed_pkg/CMakeLists.txt
  python/datafed_pkg/datafed/CMakeLists.txt
  repository/CMakeLists.txt
  repository/filesys/CMakeLists.txt
  repository/gridftp/globus5/authz/source/CMakeLists.txt
  repository/server/CMakeLists.txt
  test/CMakeLists.txt
  test/libjson/CMakeLists.txt
  tests/end-to-end/CMakeLists.txt
Due: build-core, build-foxx, build-repo

Add shared library build to protobuf cmake flag
  scripts/dependency_install_functions.sh
Due: build-core, build-foxx, build-repo

Add more descriptive error message when port is missing from address
  common/source/SocketOptions.cpp
Due: none

Improved error reporting
  repository/gridftp/globus5/authz/source/AuthzWorker.cpp
Due: none

Add Content Security policty for auth.globus.org
  web/datafed-ws.js
Due: none

Fix missing slash in path variable
  core/database/foxx/api/authz_router.js
Due: none

Make clearer error message about multiple linked Globus accounts
  core/database/foxx/api/support.js
Due: none

Update version of web server
  cmake/Version.cmake
Due: none

Attempt to fix project
  web/static/dlg_pick_proj.js
Due: none

Fix project pick typo
  web/static/dlg_pick_proj.js
Due: none

Made CHANGELOG consistent with documentation
  CHANGELOG.md
Due: none

Fix documentation install
  scripts/install_dependencies.sh
  scripts/install_docs_dependencies.sh
Due: build-core, build-foxx, build-repo

Path conditions:
  build-core: any of: dockerfiles/*, scripts/*, common/*, core/*, .gitlab-ci.yml
  build-foxx: any of: CMakeLists.txt, scripts/*, core/database/*, .gitlab-ci.yml
  build-repo: any of: dockerfiles/*, scripts/*, common/*, repository/*, .gitlab-ci.yml
