Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ws-base, build-core-base, build-repo-base, build-gcs-authz-base, build-core, build-foxx, build-repo

Path conditions:
  build-ws-base: any of: dockerfiles/Dockerfile.web-base.ubuntu, scripts/install_ws_dependencies.sh, scripts/dependency_install_functions.sh, common/proto/*, .gitlab-ci.yml
  build-core-base: any of: dockerfiles/Dockerfile.core-base.ubuntu, scripts/install_core_dependencies.sh, scripts/dependency_install_functions.sh, .gitlab-ci.yml
  build-repo-base: any of: dockerfiles/Dockerfile.repo-base.ubuntu, scripts/install_repo_dependencies.sh, scripts/dependency_install_functions.sh, .gitlab-ci.yml
  build-gcs-authz-base: any of: dockerfiles/Dockerfile.gcs-base.ubuntu, dockerfiles/Dockerfile.gcs-authz-base.ubuntu, scripts/install_gcs.sh, scripts/install_authz_dependencies.sh, scripts/dependency_install_functions.sh, scripts/generate_datafed.sh, scripts/generate_authz_config.sh, .gitlab-ci.yml
  build-core: any of: dockerfiles/*, scripts/*, common/*, core/*, .gitlab-ci.yml
  build-foxx: any of: CMakeLists.txt, scripts/*, core/database/*, .gitlab-ci.yml
  build-repo: any of: dockerfiles/*, scripts/*, common/*, repository/*, .gitlab-ci.yml

Fix container
  dockerfiles/Dockerfile.gcs-authz.ubuntu
Due: build-core, build-repo

Attempt to fix docker web container build
  dockerfiles/Dockerfile.web.ubuntu
Due: build-core, build-repo

Attempt to consolidate build and container deploy stages
  .gitlab-ci.yml
Due: build-ws-base, build-core-base, build-repo-base, build-gcs-authz-base, build-core, build-foxx, build-repo

Just remove manual trigger, caching seems to work well enough
  .gitlab-ci.yml
Due: build-ws-base, build-core-base, build-repo-base, build-gcs-authz-base, build-core, build-foxx, build-repo

Remove old ci code, simplify by combining buid and deploy stages
  .gitlab-ci.yml
Due: build-ws-base, build-core-base, build-repo-base, build-gcs-authz-base, build-core, build-foxx, build-repo

Remove manual keyword from CI build
  .gitlab-ci.yml
Due: build-ws-base, build-core-base, build-repo-base, build-gcs-authz-base, build-core, build-foxx, build-repo

Give pipeline script the ability to get updated ORC UUID
  scripts/pipeline_setup.sh
Due: build-core, build-foxx, build-repo

Fix missing syntax
  scripts/pipeline_setup.sh
Due: build-core, build-foxx, build-repo

Attempt to fix pipeline
  .gitlab-ci.yml
Due: build-ws-base, build-core-base, build-repo-base, build-gcs-authz-base, build-core, build-foxx, build-repo

Fix pipeline script
  scripts/pipeline_setup.sh
Due: build-core, build-foxx, build-repo

Cleanup pipelines
  scripts/pipeline_setup.sh
Due: build-core, build-foxx, build-repo

Remove dead code from pipeline script
  .gitlab-ci.yml
Due: build-ws-base, build-core-base, build-repo-base, build-gcs-authz-base, build-core, build-foxx, build-repo

Correct incorrect vm instance name
  .gitlab-ci.yml
Due: build-ws-base, build-core-base, build-repo-base, build-gcs-authz-base, build-core, build-foxx, build-repo

Another attempt to fix pipeline script
  scripts/pipeline_setup.sh
Due: build-core, build-foxx, build-repo

Remove print message from pipefail
  scripts/pipeline_setup.sh
Due: build-core, build-foxx, build-repo

Remove unused curl requests
  scripts/pipeline_setup.sh
Due: build-core, build-foxx, build-repo

Wait for pipeline to finish before completing
  scripts/pipeline_setup.sh
Due: build-core, build-foxx, build-repo

Correct syntax
  scripts/pipeline_setup.sh
Due: build-core, build-foxx, build-repo

Remove insecure token
  scripts/pipeline_setup.sh
Due: build-core, build-foxx, build-repo

add better status messages
  scripts/pipeline_setup.sh
Due: build-core, build-foxx, build-repo

Debug why not exiting
  scripts/pipeline_setup.sh
Due: build-core, build-foxx, build-repo

Small fix
  scripts/pipeline_setup.sh
Due: build-core, build-foxx, build-repo

Remove comments
  .gitlab-ci.yml
Due: build-ws-base, build-core-base, build-repo-base, build-gcs-authz-base, build-core, build-foxx, build-repo

Hopefully, final robust pipeline script
  scripts/pipeline_setup.sh
Due: build-core, build-foxx, build-repo

Make messaging clearer
  scripts/pipeline_setup.sh
Due: build-core, build-foxx, build-repo

Add cleaner print statements, fix counts
  scripts/pipeline_setup.sh
Due: build-core, build-foxx, build-repo

Imporve pipelines script
  scripts/pipeline_setup.sh
Due: build-core, build-foxx, build-repo

Make web service install script more robust
  scripts/install_ws_service.sh
Due: build-core, build-foxx, build-repo

Fix early exit
  scripts/pipeline_setup.sh
Due: build-core, build-foxx, build-repo

Separate build config from run config
  .gitlab-ci.yml
  CMakeLists.txt
  core/docker/Dockerfile.core-base.ubuntu
  core/docker/Dockerfile.core.ubuntu
  core/docker/entrypoint.sh
  scripts/install_core_service.sh
  scripts/install_ws_service.sh
  scripts/run_core_service.sh
  scripts/run_ws_service.sh
  web/docker/Dockerfile.web-base.ubuntu
  web/docker/Dockerfile.web.ubuntu
  web/docker/entrypoint.sh
Due: build-ws-base, build-core-base, build-repo-base, build-gcs-authz-base, build-core, build-foxx, build-repo

Fixing container buidl separating build vs run env
  .gitlab-ci.yml
  core/docker/Dockerfile.core.ubuntu
  core/docker/entrypoint.sh
  scripts/generate_datafed.sh
  scripts/install_ws_service.sh
  web/docker/Dockerfile.web.ubuntu
  web/docker/entrypoint.sh
Due: build-ws-base, build-core-base, build-repo-base, build-gcs-authz-base, build-core, build-foxx, build-repo

Attempt to fix yml syntax
  .gitlab-ci.yml
Due: build-ws-base, build-core-base, build-repo-base, build-gcs-authz-base, build-core, build-foxx, build-repo

Attempting to fix yml again
  .gitlab-ci.yml
Due: build-ws-base, build-core-base, build-repo-base, build-gcs-authz-base, build-core, build-foxx, build-repo

Attempting to fix yaml
  .gitlab-ci.yml
Due: build-ws-base, build-core-base, build-repo-base, build-gcs-authz-base, build-core, build-foxx, build-repo

Attempting to fix yml
  .gitlab-ci.yml
Due: build-ws-base, build-core-base, build-repo-base, build-gcs-authz-base, build-core, build-foxx, build-repo

Section debug
  .gitlab-ci.yml
Due: build-ws-base, build-core-base, build-repo-base, build-gcs-authz-base, build-core, build-foxx, build-repo

Debug initial stage
  .gitlab-ci.yml
Due: build-ws-base, build-core-base, build-repo-base, build-gcs-authz-base, build-core, build-foxx, build-repo

Debug second stage
  .gitlab-ci.yml
Due: build-ws-base, build-core-base, build-repo-base, build-gcs-authz-base, build-core, build-foxx, build-repo

Debug final stage
  .gitlab-ci.yml
Due: build-ws-base, build-core-base, build-repo-base, build-gcs-authz-base, build-core, build-foxx, build-repo
