Repository ORNL/DataFed: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-gcs, build-foxx, build-repo

build-gcs:
  stage: build
  variables:
    IMAGE_TAG: datafed/gcs
    GIT_STRATEGY: clone
  tags:
  - ci-datafed-globus
  - docker
  script:
  - BRANCH_LOWER=$(echo "$CI_COMMIT_REF_NAME" | tr '[:upper:]' '[:lower:]')
  - echo "$BRANCH_LOWER"
  - ./scripts/generate_datafed.sh
  ...

build-foxx:
  stage: build
  variables:
    IMAGE_TAG: datafed/foxx
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: docker/Dockerfile.foxx
  tags:
  - docker

build-repo:
  stage: build
  variables:
    IMAGE_TAG: datafed/repo
    GIT_STRATEGY: clone
    DOCKER_FILE_PATH: repository/docker/Dockerfile
  tags:
  - ci-datafed-repo
  - docker

Fix ci variables for web tests username and password
  .gitlab/end_to_end.yml
Due: none

Add Missing changelog comment
  CHANGELOG.md
Due: none

Basic fix, fix domain by getting it from DATAFED_DOMAIN env variable
  tests/end-to-end/web-UI/scripts/testingBasicFunction.spec.js
Due: none

Add Changelog
  CHANGELOG.md
Due: none

Removed extraneous text when selecting an endpoint
  web/static/dlg_start_xfer.js
Due: build-foxx, build-repo

added nonce attribute to google analytics scripts
  web/views/head.ect
Due: build-foxx, build-repo

adding 1 test
  tests/end-to-end/web-UI/scripts/test5UploadBox.spec.js
Due: none

Add missing Change log comment
  CHANGELOG.md
Due: none

added stuff to README and changed some comments
  tests/end-to-end/web-UI/README.md
  tests/end-to-end/web-UI/auth.tearDown.js
  tests/end-to-end/web-UI/scripts/test1UIVisibility.spec.js
  tests/end-to-end/web-UI/scripts/test2CollectionCreation.spec.js
Due: none

adding to readme
  tests/end-to-end/web-UI/README.md
Due: none

added more comments
  tests/end-to-end/web-UI/CMakeLists.txt
  tests/end-to-end/web-UI/auth.setup.js
  tests/end-to-end/web-UI/scripts/test1UIVisibility.spec.js
  tests/end-to-end/web-UI/scripts/test2CollectionCreation.spec.js
  tests/end-to-end/web-UI/scripts/test3RecordCreation.spec.js
  tests/end-to-end/web-UI/scripts/test4SchemaCreation.spec.js
  tests/end-to-end/web-UI/scripts/test5UploadBox.spec.js
Due: none

Add change log comment
  CHANGELOG.md
Due: none

Fix changelog version release
  CHANGELOG.md
Due: none

Add CHANGELOG comment
  CHANGELOG.md
Due: none

Add pipeline serializer and gitlab job, stage and resource group
  .gitlab-ci.yml
  .gitlab/stage_pipeline_serialize.yml
  scripts/ci_pipeline_serializer.sh
Due: build-gcs, build-foxx, build-repo

Ajdusted changelog
  CHANGELOG.md
Due: none

cpp-py-formatter
  common/include/common/IMessage.hpp
  common/source/CommunicatorFactory.cpp
  common/source/CredentialFactory.cpp
  common/source/MessageFactory.cpp
  common/source/SocketFactory.cpp
  common/source/communicators/HTTPCommunicator.cpp
  common/source/communicators/HTTPCommunicator.hpp
  common/source/credentials/HTTPCredentials.cpp
  common/source/credentials/HTTPCredentials.hpp
  common/source/messages/StringMessage.cpp
  common/source/messages/StringMessage.hpp
  common/source/sockets/HTTPSocket.cpp
  common/source/sockets/HTTPSocket.hpp
  common/tests/unit/http_server.py
  common/tests/unit/test_CommunicatorFactory.cpp
  common/tests/unit/test_CredentialFactory.cpp
  common/tests/unit/test_MessageFactory.cpp
Due: build-gcs

Add CHANGELOG command
  CHANGELOG.md
Due: none

Address formatting line in StringMessage that was not autocorrected
  common/source/messages/StringMessage.hpp
Due: build-gcs

Add missing 'import os' statement in http_server.py
  common/tests/unit/http_server.py
Due: build-gcs

Add missing 'import signal' in http_server.py
  common/tests/unit/http_server.py
Due: build-gcs

Add Change log comment
  CHANGELOG.md
Due: none

Remove print statements that add little to no value
  tests/end-to-end/test_api_alloc.py
  tests/end-to-end/test_api_record.py
  tests/end-to-end/test_api_repo.py
Due: none

Stop containers before attempting to clear out old docker images and containers
  .gitlab/stage_clear_cache.yml
Due: none

Check that there are actually running containers before running stop on an empty list
  .gitlab/stage_clear_cache.yml
Due: none

Add missing argument
  .gitlab/stage_clear_cache.yml
Due: none

Remove extra comma in .json repo form for last key value pair
  scripts/globus/generate_repo_form.sh
Due: build-gcs, build-foxx, build-repo

Add changelog comment
  CHANGELOG.md
Due: none

Throw errors for unset variables and exit script on error
  scripts/ci_harbor_artifact_count.sh
Due: build-gcs, build-foxx, build-repo

Replace all occurences of HARBOR_DATAFED_GITLAB_CI_REGISTRY with HARBOR_DATAFED_GITLAB_CI_REGISTRY_TOKEN
  .gitlab/build/build_gcs_base_image.yml
  .gitlab/build/build_gcs_image.yml
  .gitlab/build/force_build_gcs_base_image.yml
  .gitlab/build/force_build_gcs_image.yml
  .gitlab/common.yml
  .gitlab/end_to_end.yml
  .gitlab/stage_build.yml
  .gitlab/stage_clear_cache.yml
Due: none

Only run sleep if first time in loop is not successful
  .gitlab/common.yml
Due: none

Address code reviews
  scripts/ci_harbor_artifact_count.sh
Due: build-gcs, build-foxx, build-repo

Remove unused files
  .gitignore
  test/CMakeLists.txt
  test/Test_Cases_CLI.xlsx
  test/import/record10.json
  test/import/record1_upd.json
  test/import/record2.json
  test/import/record2_upd.json
  test/import/record3.json
  test/import/record4.json
  test/import/record5.json
  test/import/record6.json
  test/import/record7.json
  test/import/record8.json
  test/import/record9.json
  test/import/record_oversize.json
  test/import/records_upd.json
  test/libjson/CMakeLists.txt
  test/libjson/main.cpp
Due: none

Fixes bug with spaces not being respected
  scripts/compose_generate_globus_files.sh
Due: build-gcs, build-foxx, build-repo

Remove extra colon at the end of extends
  .gitlab/build/build_core_image.yml
  .gitlab/build/build_foxx_image.yml
  .gitlab/build/build_gcs_base_image.yml
  .gitlab/build/build_gcs_image.yml
  .gitlab/build/build_repo_image.yml
  .gitlab/build/build_ws_image.yml
Due: none

prevent project and user folder in repo from being created as root user
  repository/docker/entrypoint_authz.sh
Due: build-gcs

Correct user name
  repository/docker/entrypoint_authz.sh
Due: build-gcs

Fix registry token problem
  .gitlab/build/build_gcs_base_image.yml
  .gitlab/build/build_gcs_image.yml
  .gitlab/build/force_build_gcs_base_image.yml
  .gitlab/build/force_build_gcs_image.yml
  .gitlab/common.yml
  .gitlab/end_to_end.yml
  .gitlab/stage_build.yml
  .gitlab/stage_clear_cache.yml
Due: none

Path conditions:
  build-gcs: any of: docker/**/*, scripts/**/*, common/**/*, .gitlab-ci.yml, CMakeLists.txt, cmake/**/*, repository/docker/entrypoint_authz.sh, repository/docker/Dockerfile.gcs
  build-foxx: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
  build-repo: any of: docker/**/*, scripts/**/*, web/**/*, common/proto/**/*, .gitlab-ci.yml
